/* Reservaciones.css */
.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.filtro-container {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filtro-container label {
  font-weight: 600;
}

.filtro-container select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.boton-descargar {
  background-color: #d52b1e;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.boton-descargar:hover {
  background-color: #ff5e57;
}

.no-reservas {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.boton-volver {
  background-color: #c7c0bf; /* rojo oscuro */
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.boton-volver:hover {
  background-color: #d32f2f;
}

.reserva-card {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.reserva-card p {
  margin: 0.5rem 0;
}
